        body {
            background-color: goldenrod;
            color: white;
            /* this changes text color */
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        h1 {
            font-family: cursive;
            text-align: center;
        }

        /*how to change a header*/
        h5 {
            text-align: center;
            font-style: oblique;
            font-weight: bolder;
            background-color: blueviolet
        }

        a {
            color: whitesmoke;
        }

        /*this is how we change the anchors*/
        a:visited {
            color: darkmagenta;
        }

        img {
            border: 20px solid purple;
            /*the border*/
            padding: 3px;
            /*space in between picture and the border*/
            margin: 5px;
            /*space between context. outside of border*/
            /*display: block; /*blocks out horizontal space for use*/
            /*margin: auto; /*then it moves the picture so that it is centered in the margins*/
        }
        .imgcenter {
            display: block;
            margin: auto;
        }
        .rizz{
            font-style: normal;
            font-family: 'Courier New', Courier, monospace;
            text-align: right;
        }
        .rizz:hover{
            font-style: inherit;
            font-family: fantasy;
            background-color: gold;
            border: dashed purple 5px;
        }
        li{
            text-decoration: underline;
            font-weight: 600;
        }
        li:hover{
            font-size: larger;
            color: blueviolet;
        }
        